// import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');

body {
  font-family: 'Roboto', sans-serif;  
}

h1 {
  font-weight: 100;
}

.navLink {
  &:hover {
    opacity: 1;
    color:black;
  };
  margin: 5px;
  padding: 2vh;
  color: white;
  text-decoration: none;
}

.navBar {
  display: flex;
  justify-content: space-around;
  background-color: black;
  opacity: .5;
}


