// import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');
// import color palett
@import './styles/colorpalette.scss';



body {
  background-color: white;
  color: $charcoal;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100vh;
}

;

h1 {
  font-weight: 100;
}

;

h2 {
  font-size: 10vmin;
  font-weight: 100;
  color: $peach;
  margin-bottom: 3vh;
  margin-top: 0;
  padding-top: 2vh;
}

;

p {
  margin: 0;
  text-align: justify;
}

;

.loading-container {
  color: $fawn;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: $cerulean;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-size: 5vh;

  #loading-img {
    height: 25vh;
    margin: 3vmin;
  }
}

.loading-text {
  display: flex;
}

.loading-text:after {
  content: '< Loading />'; // Start with an empty content
  animation: dots 3s steps(6, end) infinite; // 2s total duration for all steps
}

@keyframes dots {
  0% {
    content: '< Loading />'; // Initial state is empty
  }

  16.66% {
    content: '< Loading . />'; // First dot appears
  }

  33.33% {
    content: '< Loading .. />'; // Second dot appears
  }

  50% {
    content: '< Loading ... />'; // Third dot appears
  }

  66.66% {
    content: '< Loading .. />'; // Fourth dot appears
  }

  83.33% {
    content: '< Loading . />'; // Fifth dot appears
  }

  100% {
    content: '< Loading />'; // Reset the sequence
  }
}




.hyperlink {
  &:link {
    text-decoration: none;
    color: $moonstone;
  }

  ;

  &:visited {
    text-decoration: none;
    color: $moonstone;
  }

  ;

  &:hover {
    color: $old-rose;
  }

  ;
}

;

.page {
  // display: flex;
  width: 100%;
  padding-top: 3vh;
}

;

.container {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  padding-bottom: 5vh;
  padding-top: 5vh;
}

;

.blank {
  width: 100%;
  min-height: 60vh;
  background-color: $old-rose;
}

;

.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80vmin;
  color: $charcoal;
  background-color: rgba(white, .9);
  border-radius: 15px;
  padding: 3vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

;

.single-card {
  // margin-bottom: 15vh;
  align-self: center;
}

;

.scroll {
  font-size: 4vmin;
  border-radius: 5px;
  border: none;
  background-color: $moonstone;
  position: fixed;
  bottom: 5vmin;
  right: 5vmin;
  width: 6vmin;
  height: 6vmin;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

  ;

  &.clicked {
    font-size: 1.5vmin; // font size for 'woosh!'
    color: $fawn;
  }

  ;
}

;


@media only screen and (max-device-width : 1024px) {
  .scroll {
    display: none;
  }

  ;

  .container {
    background-attachment: initial;
  }

  ;

  .card {
    background-color: rgba(white, .8);
  }

  ;

  .projects {
    background-position-x: 70%
  }

  ;

  .hello {
    background-position-x: 10%;
  }

  ;

  .about {
    background-position-x: 40%;
  }

  ;

  .fun-facts {
    background-position-x: 55%;
  }

  ;
}

;