// import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');

// import color palette
@import 'colorpalette.scss';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
};

p {
  margin: 0;
}

// .about-img {
//   position: fixed;
//   width: 100vw;
//   top: 0px;
//   left: 0px;
//   z-index: 0;
//   height: 70vh;
//   object-fit: cover;
//   object-position: 70% 60%;
// };

.hello {
  background-image: url('../assets/images/tetons.jpg');
  justify-content:space-between !important;
};

.headshot {
  position: relative;
  margin-top: 10vh;
  height: 60vh;
};

.header-about {
  font-size: 12vmin;
  font-weight: 100;
  color: $peach;
  margin-bottom: 7vh;
};

.about {
  background-image: url('../assets/images/joshua-tree-night.jpg');
  // padding-bottom: 5vh;
};

.header-about {
  font-weight: 100;
  font-size: 10vmin;
  color: $peach;
};

.single-card {
  margin-bottom: 15vh;
};

.fun-facts {
  background-image: url('../assets/images/tent.jpg');
  justify-content: flex-start !important;
};