// import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');

// import color palette
@import 'colorpalette.scss';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
};

.backgroundPhoto-a {
  position: fixed;
  width: 100vw;
  top: 0px;
  z-index: 0;
  height: 60%;
  object-fit: cover;
  object-position: 70% 60%;
};

.scrollDiv-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
};

.profilePhoto {
  position: relative;
  margin-top: 5vh;
  height: 50vh;
  // width: 60%;
  // max-width: 400px;
  // min-width: 300px;
  z-index: 2;
  align-self: center;
  margin-bottom: 5vh;
};

.aboutInfo {
  max-width: 900px;
  padding: 3%;
  padding-top: 0;
  justify-self: center;
  background-color: white;
  z-index: 3;
};

.title-a {
  font-weight: 100;
  font-size: 2em;
  padding-top: 3%;
  padding-bottom: 4%;
  margin: 0;
  align-self: left;
  z-index: 2;
  background-color: white;
};

.sub1 {
  font-weight: 100;
  font-size: 3em;
  margin: 0;
  background-color: white;
};

.sub2 {
  margin-top: 6vh;
  font-size: 1.5em;
  font-weight: 100;
  background-color: white;
}

.p-a {
  padding: 1%;
  background-color: white;
};

.textLink {
  &:link {
    text-decoration: none;
    color: $blue;
  };
  &:visited {
    text-decoration: none;
    color: $blue;
  };
  &:hover {
    color: $rose;
  };
};