// import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');

// import color palett
@import 'colorpalette.scss';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
};

.title-b {
  font-weight: 100;
  font-size: 2em;
  // color: $green;
  // text-decoration: underline, ;
  max-width: 900px;
  padding: 3%;
  padding-top: 1%;
  padding-bottom: 0;
  margin: 0;
  align-self: left;
  z-index: 2;
  background-color: white;
};

.title-proj {
  font-weight: 100;
  font-size: 2em;
  // color: $green;
  // text-decoration: underline, ;
  // padding: 3%;
  // padding-top: 1%;
  padding: 4%;
  padding-left: 0;
  margin: 0;
  align-self: left;
  z-index: 2;
  background-color: white;
};

.title-ts {
  font-weight: 100;
  font-size: 2em;
  // color: $green;
  // text-decoration: underline, ;
  // padding: 3%;
  padding: 4%;
  padding-left: 0;
  margin: 0;
  align-self: left;
  z-index: 2;
  background-color: white;
};

.p-b {
  margin: 0;
  padding: 3%;
  background-color: white;
  z-index: 3;
}

// // .backpack {
// //   display: flex;
// //   flex-direction: column;
// // }

.bg-b {
  position: fixed;
  width: 100%;
  // opacity: 50%;
  top: 0px;
  z-index: 0;
  height: 60%;
  object-fit: cover;
  object-position: 60% 70%;
};

.scrollDiv-b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // min-width: 360px;
  // align-items: center;
  // width: 100%;
  // height: 100%;
  padding: 3%;
  padding-top: 60vh;
  // z-index: 1;

  max-width: 900px;
  justify-self: center;
  background-color: white;
  z-index: 3;
};

.project-container {
  max-width: 900px;
  padding: 3%;
  padding-top: 0;
  justify-self: center;
  background-color: white;
  z-index: 3;
}

.techStack-container {
  max-width: 900px;
  padding: 3%;
  padding-top: 0;
  justify-self: center;
  background-color: white;
  z-index: 3;
}