// import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');

// import color palette
@import 'colorpalette.scss';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
};

.container {
  background-image: url('../assets/images/backpack.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content:space-between;
  width: 100vw;
  min-height: 100vh;
};

.header-backpack {
  font-size: 20vmin;
  color: $peach;
  margin-top: 20vmin;
};

.subheader-backpack {
  font-size: 5vmin;
  color: $peach;
  margin-bottom: 10vmin;
};

.blank {
  width: 100%;
  min-height: 60vh;
  background-color: $old-rose;
}

.projects {
  background-image: url('../assets/images/joshua-trees.jpg');
  background-attachment: fixed;
};

.primary,
.secondary {
  margin: 0;
  padding: 0;
};

.header-projects,
.header-techstack {
  font-weight: 100;
  font-size: 10vmin;
  color: $peach;
};

.logo-container,
.project-card {
  display: flex;
  flex-direction: column;
  width: 80vmin;
  color: $charcoal;
  background-color: rgba($color: white, $alpha: .75);
  border-radius: 15px;
  padding: 3vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
};

.project-card {
  align-items: flex-start;
};

.logo-container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15vh;
};

.project-name {
  font-size: 5vmin;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 1vh;
};

.project-screenshot {
  width: 100%;
};

.project-description {
  text-align: left;
  margin-bottom: 0;
};

.tech-stack {
  background-image: url('../assets/images/alien-throne.jpg');
  justify-content: flex-start;
};

.logo {
  max-height: 6vh;
  margin: 2%;
};