$verdigris: #56A3A6;
$rose: #CC8B8C;
$blue: #53A2BE;
$yellow: #F4D35E;
$lightgrey: #D3D7D9;
$grey: #879197;
$darkgrey: #393E41;

$moonstone: #599BA7;
$charcoal: #233D4D;
$midnight-green: #074f57;
$midnight-green2: #0B3948;
$old-rose: #C98686;
$fawn: #F2B880;
$peach: #F7E3AF;