// $navy: #36496E;
// $blue: #28AFB0;
// $yellow: #F4D35E;
// $orange: #EE964B;
// $green: #4F5D2F;


// $salmon: #F87060;



// $green: #758E4F;
$verdigris: #56A3A6;
$rose: #CC8B8C;
$blue: #53A2BE;
$yellow: #F4D35E;
$lightgrey: #D3D7D9;
$grey: #879197;
$darkgrey: #393E41;