@import 'colorpalette';

// .cover {
//   display: grid;
//   justify-items: center;
// }


.backgroundPhoto {
  width: 100%;
  height: 80vh;
  position: fixed;
  top: 0px;
  object-fit: cover;
  grid-row: 1;
  grid-column: 1;
  z-index: 0;
};

.mainPhoto {
  width: 40%;
  grid-row: 1;
  grid-column: 1;
  z-index: 3;
};

.geoGroup {
  max-height: 50vh;
  display: grid;
  position: relative;
  justify-items: center;
  align-items: center;
  padding-top: 20vh;
}


.overlays {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1;
  grid-column: 1;
  opacity: .5;
  z-index: 2;
};

.overlayL {
  width: 25%;
};

.overlayR {
  width: 25%;
  opacity: .5;
};


/* <----- TEXT -----> */
.text {
  background-color: white;
  z-index: 2;
}

h1 {
  position: absolute;
  background-color: white;
  font-size: 10vh;
}


// mobile
// .mainPhoto {
//   width: 40%
// };

// .overlayL {
//   width: 30%;
//   filter: contrast(200%);
//   opacity: .5;
// };

// .overlayR {
//   width: 30%;
//   filter:grayscale(80%);
//   opacity: .5;
// };