// import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');

// import color palett
@import 'colorpalette.scss';

#bg-m {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 0;
  height: 60%;
  object-fit: cover;
  object-position: 40% 20%;
};