// import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');

// import color palett
@import 'colorpalette.scss';


#bg-m {
  width: 100%;
  height: 100%;
  // position: fixed;
  top: 0px;
  bottom: 0px;
  margin: 0px;
  padding: 0px;
  object-fit: cover;
  object-position: 60%;
  grid-row: 1;
  grid-column: 1;
  z-index: 0;
};

#resume {
  display: flex;
  z-index: 1;
}