// import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');

// import color palett
@import 'colorpalette.scss';

body {
  margin: 0;
}

// this creates the 3D viewport for parallax
#map {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
};

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
};


.bg-m {
  transform: translateZ(-4px) scale(3);
  min-width: 100%;
  min-height: 200%;
};

.resume {
  transform: translateZ(0);
  top: 170vh;

  display: flex;
  flex-direction: column;
  // justify-self: center;
  justify-content: space-around;
  max-width: 900px;
  // align-items: center;
  width: 75%;
  // height: 90%;
  // z-index: 50;
  padding: 3%;
  margin: 4%;
  margin-left: 12%;
};

// .footer {
//   border-radius: 1.5ch;
// }

// #map {
//   // display: flex;
//   // flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   // align-items: stretch;
//   perspective: 1px;
//   height: 100vh;
//   overflow-x: hidden;
//   overflow-y: auto;
// };

// #bg-m {
//   // max-width: 245%;
//   min-width: 100%;
//   // min-height: 100%;
//   position: relative;
//   top: 0px;
//   bottom: 0px;
//   margin: 0px;
//   padding: 0px;
//   object-fit: cover;
//   // object-position: 60%;
//   // grid-row: 1;
//   // grid-column: 1;
//   // z-index: -50;

//   transform: translateZ(-3px) scale(5);
// };


// #resume {
//   display: flex;
//   flex-direction: column;
//   // justify-self: center;
//   justify-content: space-around;
//   max-width: 900px;
//   // align-items: center;
//   width: 75%;
//   // height: 90%;
//   // z-index: 50;
//   padding: 3%;
//   margin: 4%;
//   margin-left: 15%;
//   margin-top: 25vh;

//   position: absolute;
//   top: 280vh;
//   // right: 0;
//   bottom: 50vh;
//   left: 0;
//   // opacity: 80%;
//   // justify-content: center;
//   transform: translateZ(-1px) scale(2);
// };

#map-header-container {
  background-color: white;
  // opacity: .9;
  color: black;
  // opacity: 70%;
  padding: 3%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 1.5ch;
};

#map-title {
  opacity: 1;
  font-size: 2em;
  font-weight: 100;
  padding: 1%;
};
#map-description {
  padding: 1%;
}

#current {
  background-color: $blue;
  color: white;
  border: solid .2em $grey;
  padding: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 1.5ch;
};

.current-job-title {
  font-size: 2.5em;
  font-weight: 100;
};

.year {
  background-color: white;
  border: solid .2em $grey;
  display: flex;
  flex-direction: column;
  padding: 3%;
  margin-top: 4%;
  margin-bottom: 4%;
  border-radius: 1.5ch;
};

.year-header {
  color: $rose;
  font-size: 2.1em;
  font-weight: 100;
};

.past {
  display: flex;
  // margin-bottom: 10%;
  margin-top: 5%
};

.job-title {
  background-color: $blue;
  color: white;
  opacity: .9;
  border-radius: 1.5ch;
  font-size: 1.5em;
  font-weight: 100;
  display: flex;
  justify-content: center;
  padding: 3%;
  align-items: center;
  min-width: 27%;
};

.job-description {
  padding: 2%;
  // font-weight: 100;
};

// @media (max-width: 400px) {
//   .past {
//     display: flex;
//     flex-direction: column;
//     margin-bottom: 10%;
//     margin-top: 5%
//   };

//   #bg-m {
//     // max-width: 245%;
//     // min-width: 100%;
//     position: relative;
//     top: 0px;
//     bottom: 0px;
//     margin: 0px;
//     padding: 0px;
//     // object-fit: cover;
  
//     transform: translateZ(-10px) scale(11);
//   };

  
//   #resume {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     max-width: 900px;
//     width: 75%;
//     padding: 3%;
//     margin: 4%;
//     margin-left: 10%;
  
//     position: absolute;
//     top: 390vh;
//     bottom: 0;
//     left: 0;
//     transform: translateZ(-1px) scale(2);
//   };
  
// }